@model VerificationSystem.Models.WorkOfficeVM
@{
    bool renderScript = (bool)ViewData["ScriptSection"];

}





@if (renderScript == false)
{


    <div>


        <table class="hidden text-left table table-striped" id="workOfficeTable">
            <thead>
                <tr>

                    <th>
                        Person Type
                    </th>
                    <th>
                        Person Name
                    </th>
                    <th>
                        Person Contact #
                    </th>
                    <th>
                        Person Designation
                    </th>
                    <th>
                        Office Name
                    </th>
                    <th>
                        Office Address
                    </th>
                    <th>
                        Nearest Landmark
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.WorkOfficeVerifications)
                {
                    <tr id="@item.WorkOfficeVerificationId">
                        <td class="hidden">
                            <label id="WorkOfficeVerificationId">@item.WorkOfficeVerificationId</label>
                            <label id="OldPersonType">@item.PersonType</label>
                        </td>
                        <td id="PersonType">@item.PersonType</td>
                        <td id="PersonName">@item.PersonName</td>
                        <td id="PersonContactNo">@item.PersonContactNo</td>

                        <td id="PersonDesignation">@item.PersonDesignation</td>
                        <td id="OfficeName">@item.OfficeName</td>
                        <td id="OfficeAddress">@item.OfficeAddress</td>
                        <td id="NearestLandMark">@item.NearestLandMark</td>
                        <td>
                            <button type="button" class="btn btn-primary" value="@item.WorkOfficeVerificationId" id="workOfficeEdit" onclick="WOEdit(this);"><span class="glyphicon glyphicon-edit">&nbsp</span> Edit </button>
                        </td>
                    </tr>
                }


            </tbody>
        </table>



    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h4>Create / Update Work Office Verifications</h4>

                </div>
                <div class="box-body">
                    @using (Html.BeginForm("CreateWorkOffice", "Inquiry", FormMethod.Post, new { name = "WorkOfficeForm", id = "WorkOfficeForm" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="row">

                            <div class="col-md-12">
                                @Html.HiddenFor(x => x.WorkOfficeVerificationId)
                                @Html.HiddenFor(x => x.OldPersonType)
                                <div class="col-md-4">
                                    <div class="form-group ">

                                        <div class="col-md-12">
                                            @Html.LabelFor(m => m.PersonType, new { @class = " control-label" })

                                            @Html.DropDownListFor(x => x.PersonType, Model.PersonTypeList, "", new { @class = " form-control chosen-branch  ", data_placeholder = "Select a Person " })

                                            @Html.ValidationMessageFor(m => m.PersonType, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">

                                    <div class="form-group">

                                        <div class="col-md-12">
                                            @Html.LabelFor(m => m.PersonName, new { @class = " control-label" })
                                            @Html.TextBoxFor(m => m.PersonName, new { @class = "form-control" })


                                            @Html.ValidationMessageFor(m => m.PersonName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">

                                    <div class="form-group">

                                        <div class="col-md-12">
                                            @Html.LabelFor(m => m.PersonDesignation, new { @class = " control-label" })
                                            @Html.TextBoxFor(m => m.PersonDesignation, new { @class = "form-control" })


                                            @Html.ValidationMessageFor(m => m.PersonDesignation, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            @Html.LabelFor(m => m.OfficeName, new { @class = " control-label" })


                                            @Html.TextBoxFor(m => m.OfficeName, new { @class = "form-control" })


                                            @Html.ValidationMessageFor(m => m.OfficeName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">

                                        <div class="col-md-12">
                                            @Html.LabelFor(m => m.PersonContactNo, new { @class = " control-label" })
                                            @Html.TextBoxFor(m => m.PersonContactNo, new { @class = "form-control" })


                                            @Html.ValidationMessageFor(m => m.PersonContactNo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">

                                        <div class="col-md-12">
                                            @Html.LabelFor(m => m.OfficeAddress, new { @class = " control-label" })
                                            @Html.TextBoxFor(m => m.OfficeAddress, new { @class = "form-control" })


                                            @Html.ValidationMessageFor(m => m.OfficeAddress, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-12">

                                <div class="col-md-4">
                                    <div class="form-group">

                                        <div class="col-md-12">
                                            @Html.LabelFor(m => m.NearestLandMark, new { @class = " control-label" })
                                            @Html.TextBoxFor(m => m.NearestLandMark, new { @class = "form-control" })


                                            @Html.ValidationMessageFor(m => m.NearestLandMark, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <br />


                                    <div class="form-group">
                                        <div class="col-md-12">

                                            <input type="button" class="btn btn-primary btn-block" value="Save" id="CreateWorkOffice">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <br />

                                    <div class="form-group">
                                        <div class="col-md-12">

                                            <input type="button" class="btn btn-warning btn-block" value="Reset" id="WorkOfficeReset" onclick="WOReset();">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    }
                </div>
            </div>
        </div>
    </div>


}
else
{


    <script type="text/javascript">

        //====================================//

        $("#WorkOfficeForm #PersonType").change(function () {

            var residenceTableRowsLength = $('#residenceTable tr').length;
            var bankStatementRowsTable = $('#bankStatementTable tr').length;
            var salarySlipRowsTable = $('#salarySlipTable tr').length;
            var tenantRowsTable = $('#tenantTable tr').length;
            var workOfficeRowsTable = $('#workOfficeTable tr').length;

            var personType = $("#WorkOfficeForm #PersonType option:selected").val();
            if (personType == '@constant.PersonType.Applicant') {
                var AppName = $('#InquiryForm #AppName').val();
                var AppContact = $('#InquiryForm #AppContact').val();


                $('#WorkOfficeForm #PersonName').val(AppName);
                $('#WorkOfficeForm #PersonContactNo').val(AppContact);

            }
            else {
                var result = false;
                if (residenceTableRowsLength > 1 && result == false) {

                    result = fillExistingDataWO("residenceTable", personType);
                    if (result == false) {
                        $('#WorkOfficeForm #PersonName').val('');
                        $('#WorkOfficeForm #PersonContactNo').val('');
                    }
                    // alert(result);
                }
                if (workOfficeRowsTable > 1 && result == false) {

                    result = fillExistingDataWO("workOfficeTable", personType);
                    if (result == false) {
                        $('#WorkOfficeForm #PersonName').val('');
                        $('#WorkOfficeForm #PersonContactNo').val('');
                    }
                    // alert(result);
                }
                if (salarySlipRowsTable > 1 && result == false) {

                    result = fillExistingDataWO("salarySlipTable", personType);
                    if (result == false) {
                        $('#WorkOfficeForm #PersonName').val('');
                        $('#WorkOfficeForm #PersonContactNo').val('');
                    }
                    // alert(result);
                }
                if (bankStatementRowsTable > 1 && result == false) {
                    result = fillExistingDataWO("bankStatementTable", personType);
                    if (result == false) {
                        $('#WorkOfficeForm #PersonName').val('');
                        $('#WorkOfficeForm #PersonContactNo').val('');
                    }
                    // alert(result);
                }
                if (tenantRowsTable > 1 && result == false) {

                    result = fillExistingDataWO("tenantTable", personType);
                    if (result == false) {
                        $('#WorkOfficeForm #PersonName').val('');
                        $('#WorkOfficeForm #PersonContactNo').val('');
                    }
                    // alert(result);
                }



            }

        });

        //===================================//



        //====================================//
        function fillExistingDataWO(tableId, personType) {


            // alert(tableId + '--' + personType);
            var columnNumberOfPersonType = 1; //person type column
            var isDone = false;

            $.each($('#' + tableId).find('tr'), function () {

                var tdPersonType = $(this).find('td').eq(columnNumberOfPersonType).text();

                var AppName = $(this).find('td').eq(2).text();
                var AppContact = $(this).find('td').eq(3).text();


                if (tdPersonType == personType) {

                    $('#WorkOfficeForm #PersonName').val('');
                    $('#WorkOfficeForm #PersonContactNo').val('');

                    $('#WorkOfficeForm #PersonName').val(AppName);
                    $('#WorkOfficeForm #PersonContactNo').val(AppContact);

                    isDone = true;
                    return false;
                }

            });
            return isDone;
        }
        //===================================//


        $('#CreateWorkOffice').click(function () {
            if ($('#WorkOfficeForm').valid()) {
                var dataToPost = $('#WorkOfficeForm').serializeObject();
                dataToPost.InquiryId = $('#InquiryId').val();
                dataToPost.OldPersonType = $('#WorkOfficeForm #OldPersonType').val();//.find('#OldPersonType').val();


                ShowLoader(true, "Loading...");

                $.post('@Url.Action("CreateWorkOffice", "Inquiry")', { model: dataToPost },
                    function (data) {
                        if (data.status == 1) {
                            //show message here for alert
                            toastr.success(data.message, "Work/Office Verification Details", { tapToDismiss: false, timeOut: 0, extendedTimeOut: 0 });
                            //add data to Residence Table
                            addDataToWorkOfficeTable(data.data);
                            //Reset Residence Form.
                            WOReset();
                            ShowLoader(false, "");
                        }
                        else {
                            toastr.error(data.message, "Work/Office Verification Details", { tapToDismiss: false, timeOut: 0, extendedTimeOut: 0 });
                            ShowLoader(false, "");
                        }
                    }).fail(function (jqXHR) {
                        ShowLoader(false, "");
                    });
            } else {
                toastr.error("Some required field are missing.", "Work/Office Verification Details", { tapToDismiss: false, timeOut: 0, extendedTimeOut: 0 });
            }
        });

        function addDataToWorkOfficeTable(workOfficeList) {

            var htmlRow = "";

            $(workOfficeList).each(function (i, e) {

                htmlRow += "<tr id='" + e.WorkOfficeVerificationId + "'>" +
                              "<td class='hidden'><label id='WorkOfficeVerificationId'>" +
                              e.WorkOfficeVerificationId + "</label><label id='OldPersonType'>" +
                              e.PersonType + "</label></td>" +
                                  "<td id='PersonType'>" + e.PersonType + "</td>" +
                                "<td id='PersonName'>" + e.PersonName + "</td>" +
                                "<td id='PersonContactNo'>" + e.PersonContactNo + "</td>" +
                                "<td id='PersonDesignation'>" + e.PersonDesignation + "</td>" +
                                "<td id='OfficeName'>" + e.OfficeName + "</td>" +
                                "<td id='OfficeAddress'>" + e.OfficeAddress + "</td>" +
                                "<td id='NearestLandMark'>" + e.NearestLandMark + "</td>" +
                                "<td > " +
                                 "   <button type='button' class='btn btn-primary' value='" + e.WorkOfficeVerificationId + "' id='workOfficeEdit' onclick='WOEdit(this);'><span class='glyphicon glyphicon-edit'>&nbsp</span> Edit </button> " +
                                "</td> " +
                            "</tr> ";


            });

            $('#workOfficeTable tbody').find('tr').remove();
            $('#workOfficeTable').append(htmlRow);
            $('#workOfficeTable').removeClass('hidden');

        }

        function WOEdit(button) {

            tr = $('#workOfficeTable').find('#' + button.value);
            var form = $('#WorkOfficeForm');



            $(form).find('#PersonType').val($(tr).find('#PersonType').html().trim());
            $(form).find('#OldPersonType').val($(tr).find('#OldPersonType').html().trim());
            // $(form).find("#PersonType").prop("disabled", true);

            $(form).find('#PersonName').val($(tr).find('#PersonName').html().trim());
            $(form).find('#PersonDesignation').val($(tr).find('#PersonDesignation').html().trim());
            $(form).find('#OfficeName').val($(tr).find('#OfficeName').html().trim());

            $(form).find('#PersonContactNo').val($(tr).find('#PersonContactNo').html().trim());
            $(form).find('#OfficeAddress').val($(tr).find('#OfficeAddress').html().trim());
            $(form).find('#NearestLandMark').val($(tr).find('#NearestLandMark').html().trim());

            $(form).find('#WorkOfficeVerificationId').val($(tr).find('#WorkOfficeVerificationId').html().trim());

        }
        function WOReset() {

            var form = $('#WorkOfficeForm');
            $(form).get(0).reset();
            $("#WorkOfficeForm input:hidden").val('');
        }
    </script>

}
